{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlineDietetyk</title>
    <link rel="stylesheet" href="{% static 'css_template.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script1.js' %}"></script>


</head>
<body>
<div id="header">{% include "./header.html" %}</div>
<div id="main">
    <div class="row row1">
        <div class="module1 col-sm-12"><h3>OnlineDietetyk Beta</h3>
        <span clas="greetings">Zalogowany jesteś na koncie: {{ user.username }}</div></div>
    </div>
    <div class="row row2">
        <div class="module1 col-sm-6" onclick="location.href='/OnlineDietetyk/patients'"><span class="glyphicon glyphicon-user"></span><h3 class="header">Panel pacjenta</h3></div>
        <div class="module3 col-sm-6" onclick="location.href='/OnlineDietetyk/products'"><span class="glyphicon glyphicon-apple"></span><h3 class="header">Baza produktów</h3></div>
    </div>
    <div class="row row3">

        <div class="module5 col-sm-6" onclick="location.href='/OnlineDietetyk/'"><span class="glyphicon glyphicon-envelope"></span><h3 class="header">Wiadomości</h3></div>
        <div class="module6 col-sm-6" onclick="location.href='/OnlineDietetyk/'"><span class="glyphicon glyphicon-globe"></span><h3 class="header">Zewnętrzna baza produktów</h3></div>
    </div>
</div>

</body>
</html>