{% load static %}
<!DOCTYPE html>
<html lang="en" id="loginPage">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css_template.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script1.js' %}"></script>
</head>
<body id="loginPageBody">
<div class="login main">
    <div class="container form-inline loginbox">
        <h2>Online Dietetyk</h2>
        <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="form-group col-sm-12">
                 <label for="{{ form.username.username }}">Nazwa użytkownika:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group col-sm-12">
                 <label for="{{ form.password.password }}">Hasło:</label>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div class="form-group col-sm-12">
                <input type="submit" class="btn btn-primary col-sm-6" value="Zaloguj">
            </div>
        </form>
    </div>
</div>


</body>
</html>