{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'css_template.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script1.js' %}"></script>
</head>
<body>
   <div id="header">{% include "./header.html" %}</div>
   <div id="main">
       <div class="searchForm">
            <form method="get" class="form-inline">
                <div class="form-group col-sm-12"><label class="control-label col-sm-4">Nazwa:</label>
                    <input type="text" name="nazwa" class="form-control col-sm-6"/></div>
                <div class="form-group col-sm-12"><label class="control-label col-sm-4">Kategoria:</label>
                    <select name="kat" class="form-control col-sm-6">
                        <option value = "">Wybierz kategorie</option>
                        {% for i in categories %}
                        <option value = {{ i.id }}> {{ i.nazwa }} </option>
                        {% endfor %}
                    </select></div>
            <input type="reset" class="btn btn-primary col-sm-6" value="Wyczysc"/>
            <input type="submit" class="btn btn-primary col-sm-6" name="search" value="Szukaj dania"/>
        </form>
        </div>
<div class="searchResults">
    <p>Wyniki:</p>
    <table class="table">
    <thead class="thead-dark">
    <th scope="col">Nazwa dania</th>
    <th scope="col">Kategoria</th>
    <th scope="col">Kcal</th>
    <th scope="col">Białko na 100g</th>
    <th scope="col">Tłuszcze na 100g</th>
    <th scope="col">Węglowodany na 100g</th>
    </thead>
    <tbody>

    {% for i in result %}
    <tr>

        <td><a href="/OnlineDietetyk/meal/{{i.0}}/">{{ i.1 }}</a> </td>
        <td>{{ i.2 }}</td>
        <td> {{ i.3.1 }}</td>
        <td> {{ i.3.3 }}</td>
        <td>{{ i.4.3 }}</td>
        <td> {{ i.5.3 }}</td>
    </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
   </div>
</body>
</html>